header {
   display: flex;
   justify-content: space-between;
   > a {
      width: 60px;
      text-align: center;
   }
   > nav {
      width: calc(100% - 60px);
      display: flex;
      justify-content: center;
      gap: 20px;
   }
}
